body, html {
    height: 100%;
    margin: 0;
}

.container {
    background-image: url('./static/media/rafael-de-nadai-b0eg-PYGICQ-unsplash.jpg');
    background-position: center top;
    background-size: cover;
    width: 100vw;
    height: 100vh;
};