<p>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <button mat-icon-button class="icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a>
      <span routerLink="/">BlueVoid</span>
    </a>
    <span class="spacer"></span>
    <a _ngcontent-yhc-c48="" mat-button="" routerlinkactive="docs-navbar-header-item-selected"
      class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
      tabindex="0" aria-disabled="false" routerLink="/browse">
      <span class="mat-button-wrapper">Browse Games</span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>
    <a _ngcontent-yhc-c48="" mat-button="" routerlinkactive="docs-navbar-header-item-selected"
      class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
      tabindex="0" aria-disabled="false" routerLink="/create">
      <span class="mat-button-wrapper">Create Game</span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>
    <a _ngcontent-yhc-c48="" mat-button="" routerlinkactive="docs-navbar-header-item-selected"
      class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
      tabindex="0" aria-disabled="false" routerLink="/questions">
      <span class="mat-button-wrapper">
        <mat-icon>help_outline</mat-icon>
      </span>
      <span matripple="" class="mat-ripple mat-button-ripple"></span>
      <span class="mat-button-focus-overlay"></span>
    </a>
  </mat-toolbar>
</p>